<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <link href="../css/my.css" rel="stylesheet">

   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Frenetic Tutorial</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/tutorial">Contents</a></li>
            {% for item in site.data.toc %}

              {% assign ix = forloop.index|minus:1 %}

              {% if item.name == page.title and forloop.last == false %}
                {% assign next = ix | plus:1 %}
                <li>
                <a href="{{ site.data.toc[next].path }}">
                Next Chapter: {{ site.data.toc[next].name }}</a>
                </li>
              {% endif %}

              {% if item.name == page.title and forloop.first == false %}
                {% assign prev = ix | minus:1 %}
                <li>
                <a href="{{ site.data.toc[prev].path }}">
                Previous Chapter: {{ site.data.toc[prev].name }}</a>
                </li>
              {% endif %}

            {% endfor %}
            <li><a href="https://arjunguha.github.io">Frenetic API Documentation</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

    {% assign found_page = false %}

    {% for item in site.data.toc %}

      {% assign ix = forloop.index %}

      {% if item.name == page.title %}
        <h1>Chapter {{ ix }}: {{ page.title }}</h1>
        {% assign found_page = true %}
      {% endif %}

    {% endfor %}

    {% if found_page == false %}

        <h1>Unindexed Chapter: {{ page.title }}</h1>

    {% endif %}

    {{ content }}

    {% comment %}
    Insert next chapter link automatically.
    {% endcomment %}


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>